/* LOCATION */

.date_location {
  margin-top: 14rem;
  z-index: 1;
}
.search {
  padding: 10%;
}
.setbackgroundsearch {
  background-color: #99fcb1;
  height: 30rem;
}
.people {
  z-index: 1;
  margin-top: -5rem;
}
.item-hotel {
  height: 15rem;
}
.type_of_r_place img {
  width: 15rem !important;
  height: 10rem !important;
}
.description_picture{
    height: 30rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1.02) !important;
}
.description_picture_left {
  width: 22rem !important;
  height: 22rem !important;
}
.description_picture_right {
  width: 44.5rem !important;
  height: 22rem !important;
}
.content-hotel-page{
    padding-left: 20rem;
    height: 40rem;
}