
.buton_text {
  background-image: linear-gradient(-90deg, #9EF9D8, #CAF6BF);
  color: black;
  border-color: transparent;
  border-radius: 5rem;
}
.buton_text:hover {
  background-color: #1aa37a;
  border-color: transparent;
}
.image-slide{
  display: contents;
}
/* .button-left-right{
  padding-top: 13rem;
} */
.location-select-image{
  padding-top: 26rem;
}